body{
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h1{
    font-size: 30px;
    
}
.round-logos{
    width: 50px;     
    height: 50px;
    object-fit: cover;
    margin: auto;
    
}
img{
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin: auto;
}
div{
    display: block;
    text-align: center;
    
}
h2{
    text-align: left;
}
em{
    font-weight: 200;
}
a{
    color: black;
    
}
